<table class="table table-striped data-table">
  <thead>
    <tr>
      <th *ngFor="let col of cols">
        {{ col.title }}
      </th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Row for creating new data. -->
    <tr class="new-item-row">
        <td *ngFor="let col of cols">
          <span *ngIf="col.type == 'plain'">
            {{ newRow[col.key] }}
          </span>
          <input 
            *ngIf="col.type != 'plain'" 
            [(ngModel)]="newRow[col.key]" 
            [type]="col.type" 
            class="form-control">
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-success" (click)="createRow(newRow)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </td>
    </tr>

    <!-- Rows for showing data. -->
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of cols">
        <span *ngIf="col.type == 'plain'">
          {{ row[col.key] }}
        </span>
        <input 
          *ngIf="col.type != 'plain'" 
          [(ngModel)]="row[col.key]" 
          [type]="col.type" 
          class="form-control">
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-info" (click)="updateRow(row)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteRow(row)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>